.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    max-width: 1326px;
} 

.filter {
    list-style: none;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .05);
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #111111;
}

.owl-carousel .owl-item{
    width: auto !important;
    float: auto !important;
    display: inline-flex !important;
    justify-content: center;
    box-sizing: border-box;
}

.filter.active{
    background-color: #000000;
    color: #ffffff;
}

.filter:hover{
    background-color: rgba(0, 0, 0, .05);
}

.filter.active:hover{
    background-color: #000000;
    background-color: #cccccc;
}